
#word {
    font-size: 2rem;
    margin-top: 20px;
    letter-spacing: 0ch;
    font-family: monospace;
}
form{
    position: relative;
    place-self: center;
}
#input {
    margin-top: -10px;
    z-index: 1;
    top: 1.25rem;
    left: 0;
    border: none;
    position: absolute;
    font-family: monospace;
    font-size: 2rem;
    letter-spacing: 1ch;
    width: inherit;
    outline: none;
    background: transparent;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    /* display: flex; */
    /* width: 50%; */
    /* margin: auto; */
}
ul li b{
    font-size: 4rem;
}
summary{
    font-size: 2rem;
    cursor: pointer;
    color: #888;
}
